#outsideContainer {
    border-radius: 25px;
    border: 1px solid black;
    width: 419px;
    padding: 10px;
}

#display {
    border-radius: 25px;
    height: 95px;
    width: 415px;
    border: 1px solid black;
    margin-bottom: 3px;
    text-align: right;
    line-height: 95px;
    font-size: xx-large;
}

#buttonContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    max-width: 400px;
 }

.button {
    border-radius: 25px;
    height: 150px;
    width: 100px;
    border: 1px solid black;
    aspect-ratio: 1;
    text-align: center;
    line-height: 150px;
    font-size: x-large;
}