.outsideContainer {
    border-radius: 25px;
    border: 1px solid black;
    width: 409px;
    padding: 10px;
    background-color: #ccffef;
    margin: auto;
}

.button.op {
    background-color: #d9d9d9 ;
}

.button.num {
    background-color: #f2f2f2;
}

#display {
    border-radius: 25px;
    height: 95px;
    width: 406px;
    border: 1px solid black;
    margin-bottom: 3px;
    text-align: right;
    line-height: 95px;
    font-size: xx-large;
    background-color: white; 
}

#buttonContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    max-width: 400px;
 }

.button {
    border-radius: 25px;
    height: 150px;
    width: 100px;
    border: 1px solid black;
    text-align: center;
    line-height: 150px;
    font-size: xx-large;
}

